<div class="navbar-base">

  <!-- Right Navigation -->
  <div class="navbar-content">

    <%= link_to "HOME", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "ABOUT", "about.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "SKILLS", "skills.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "EXPERIENCE", "experience.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "EDUCATION", "education.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "WORK", "work.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "CONTACT", "contact.html", class: "navbar-wagon-item navbar-wagon-link" %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
